<div class="homepage">
<h1> Welcome to RideShare </h1>
<ul>
<li class = "btn"><%= link_to "Manage Drivers", drivers_path, method: :get, class: "link-list"%></li>
<li class = "btn"><%= link_to "Manage Passengers", passengers_path, method: :get, class: "link-list"%></li>
</ul>
</div>