/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

main {
  padding: 2em 4em ;
}
html body {
  margin: 0;
  padding: 0;
}
 .container {
   display: grid;
   grid-template-rows: 100px 1fr;
 }

table {
  border-collapse: collapse;
  border: black;
  letter-spacing: 2px;
  width: 100%;
  max-width: 60em;
  font-size: 1.2em;

}
td, th {
  padding-left: 2em;
}

th {
  text-align: left;
  font-weight: bold;
}
tr {
  border: 2px solid black;
  height: 3em;
  /* padding: 2em; */
 }

 tr:nth-child(even) td {
  background-color: rgb(177, 221, 236);
}

ul {
  list-style-type:  none;
  padding: 0; 
  font-size: 1.2em;
  
}

article li {
  font-size: 1.10em;
}

.navbar {
 grid-row: 1;
 background-color: #333;
 padding: 1.5em;


}

.navbar .home  a{
  float: left;
  font-size: 16px;
  padding: 14px 28px;
  text-decoration: none;
  color: white;
}

.dropdown1 , .dropdown2{
  float: left;
}

.navbar a:hover, .dropdown2:hover .dropbtn, .dropdown1:hover .dropbtn {
  background-color: lightblue;
}


.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 28px;
  margin: 0;
  color: white;
  background-color: inherit;
}

.dropbtn-edit .link-list-edit, .dropbtn-edit .link-list-delete {
  font-size: 16px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-self: center;
}

.link-list-edit:hover, .link-list-delete:hover {
  background-color: darkgray;
  color: white;
}

.dropbtn-edit .link-list-edit, .dropbtn-edit .link-list-delete {
  padding: 10px 30px;
}

.dropdown-content-pass, .dropdown-content-driv {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f9f9f9;

}

.dropdown-content-pass a, .dropdown-content-driv a{
  float: none;
  color: black;
  padding: 12px 28px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown1:hover .dropdown-content-pass {
  display: block;
}

.dropdown-content-pass a:hover, .dropdown-content-driv a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content-driv {
  display: block;
}

.index-list ul {
  display: grid;
  grid-template-columns: 1fr 150px 150px 1fr;
  font-size: 1.2rem;
  grid-row-gap: 20px;

}

.index-list a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.index-list ul li {
  grid-column: 1;
  align-self: center;
  /* justify-self: center */
}

.index-list .link-list-edit {
  grid-column: 2;
  color: #333;
  font-weight: lighter;

}

.index-list .link-list-edit a{
  margin: 20px 20px;

}

.index-list .link-list-delete {
  grid-column: 3;
  color: #333;
  font-weight: lighter;

}

.index-list a:visited {
  color: #333;
  
}

/* .index-list a:hover {
  text-decoration: underline;
  color: purple;
} */


