/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree 
 *= require_self
 */

main {
  padding: 2em 4em ;
}
main * {
  padding: .15em 0;
}
html body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2em;
}
h1 {
  font-size: 2.5em;
}
 .container {
   display: grid;
   grid-template-rows: 100px 1fr;
 }

table {
  border-collapse: collapse;
  border: black;
  /* letter-spacing: 1.5px; */
  width: 100%;
  max-width: 75em;
  /* font-size: 1.2em; */

}
td, th {
  padding: 1.25em 2em;
}

th {
  text-align: left;
  font-weight: bold;
}
tr {
  border: 2px solid black;
  height: 3em;
 }

 tr:nth-child(even) td {
  background-color: rgb(177, 221, 236);
}
input, label {
  font-size: 1.1em;
}
.error-messages{
  color: red;
}
input, .back-button {
  margin-top: 1.5em;
  padding: 10px 15px; 
  display: inline-block;
  border-radius: 8px; 
}
input[type=submit], .back-button {
  margin-top: 2em;
  padding: 10px 15px; 
  display: inline-block;
  background:rgb(177, 221, 236); 
  cursor:pointer;
  border-radius: 8px; 
}
ul {
  list-style-type:  none;
  padding: 0; 
}

article li {
  font-size: 1.10em;
}
a {
  text-decoration: none;
}
img {
  margin-bottom: 1em;
  border-radius: 8px; 
}

.navbar {
 grid-row: 1;
 background-color: #333;
 padding: 1.5em;
}

.navbar .home  a{
  float: left;
  font-size: 24px;
  padding: 14px 28px;
  text-decoration: none;
  color: white;
}

.dropdown1 , .dropdown2{
  float: left;
}

.navbar a:hover, .dropdown2:hover .dropbtn, .dropdown1:hover .dropbtn {
  background-color: lightblue;
}


.dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  padding: 14px 28px;
  margin: 0;
  color: white;
  background-color: inherit;
}

.dropbtn-edit .link-list-edit, .dropbtn-edit .link-list-delete {
  font-size: 18px;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  align-self: center;
}

.link-list-edit:hover, .link-list-delete:hover {
  background-color: darkgray;
  color: white;
}

.link-list-edit:visited, .link-list-delete:visited {
  color: blue;
  
}

.dropbtn-edit .link-list-edit, .dropbtn-edit .link-list-delete {
  padding: 10px 30px;
}

.dropdown-content-pass, .dropdown-content-driv {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #f9f9f9;

}

.dropdown-content-pass a, .dropdown-content-driv a{
  float: none;
  color: black;
  padding: 12px 28px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown1:hover .dropdown-content-pass {
  display: block;
}

.dropdown-content-pass a:hover, .dropdown-content-driv a:hover {
  background-color: #ddd;
}

.dropdown2:hover .dropdown-content-driv {
  display: block;
}

.index-list ul {
  display: grid;
  grid-template-columns: 1fr 150px 150px 1fr;
  font-size: 1.2rem;
  grid-row-gap: 20px;

}

.index-list a {
  color: #333;
  font-weight: bold;
  /* text-decoration: none; */
}

.index-list ul li {
  grid-column: 1;
  align-self: center;
}

.index-list .link-list-edit {
  grid-column: 2;
  color: #333;
  font-weight: lighter;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.index-list .link-list-edit a{
  margin: 20px 20px;

}

.index-list .link-list-delete {
  grid-column: 3;
  color: #333;
  font-weight: lighter;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.index-list a:visited {
  color: #333;
}

table a {
  color: blue;
}

main article li a:visited {
  color: blue;
}


/* 
.index-list li a:hover {
  text-decoration: underline;
  color: purple;
} */


